
.skills {
    background-color: var(--second-bg-color);
}

.heading {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

/*----------------media query--------------------*/

@media (max-width: 768px) {
    .skills {
        padding-bottom: 7rem;
    }

    .heading {
        margin-bottom: 3rem;
    }
}