
.footer {
    padding: 2rem 9%;
    background-color: var(--second-bg-color);
    text-align: center;
}

.socials a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 3rem;
    color: var(--main-color);
    margin: 1.5rem 1.6rem 2rem 0;
    transition: .4s ease;
}

.socials a:last-child {
    margin-right: 0;
}

.socials a:hover {
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.copyright p {
    font-size: 1.3rem;
    font-weight: 300;
}

/*---------------------media query---------------------*/

@media (max-width: 991px) {
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 450px) {
    .socials a {
        width: 6rem;
        height: 6rem;
        font-size: 4rem;
        margin: 1.5rem 3rem 2rem 0;
    }
}